[module/backlight-acpi]
type = internal/backlight
card = intel_backlight

format = <ramp>

ramp-0-foreground = ${colors.foreground-alt} 
ramp-1-foreground = ${colors.foreground-alt} 
ramp-2-foreground = ${colors.foreground-alt} 
ramp-3-foreground = ${colors.foreground-alt} 
ramp-4-foreground = ${colors.foreground-alt} 

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
