[module/date]
type = internal/date
interval = 5

date = "%A %d %b "

time = "%H:%M "

format-prefix = "  "
format-prefix-font = 1
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #50FA7B

label = %date% %time%
