[module/temperature_amd]
type = internal/temperature
interval = 2
hwmon-path = /sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon2/temp1_input
base-temperature = 20                                                                                                                      
warn-temperature = 60

format = <ramp> <label>
format-underline = #FF5555
format-warn = <ramp> <label-warn>
format-warn-underline = #FF5555

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}

ramp-0 =  
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.foreground-alt}
